.NavBar {
    background-color: cyan;
    text-align: center;
    font-weight: bold;
}

.NavBar a {
    padding: 1em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-shadow: 0px 1px 2px black, 1px 0 2px black;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: black;
    color: white !important;
}

.NavBar a.active {
    font-weight: bold;
    color: darkorchid;
    text-shadow: 0px 1px 2px black, 1px 0 2px black;
    font-size: 18px;
}
